.borda{
    border: solid red 2px;
}

.container{
    display: grid;
    border: 2px solid black;
    width: 800px;
    height: 800px;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.items{
    background-color: blueviolet;
    border: 3px solid black;
}