/* .borda{
    border: solid red 2px;
} */

.container{
    background-color: red;
    width: 100%;
    height: 400px;
    display: inline-block;
    position: relative;
}

.div1{
    position: relative;
    left: 100px;
    top: 50px;
    width: 30%;
    height: 100px;
    background-color: blueviolet;
    display: inline-block;
}

.div2{
    position: relative;
    width: 30%;
    height: 100px;
    background-color: yellow;
    display: inline-block;
    z-index: 2;
}

.div3{
    position: relative;
    top: 350px;
    width: 30%;
    height: 100px;
    background-color: cyan;
    display: inline-block;
}

.whats{
    position: fixed;
    width: 80px;
    height: 80px;
    background-color: green;
    bottom: 0;
    right: 0;
    /* z-index: 2; */
}

.abso{
    background-color: blueviolet;
    display: inline-block;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 50px;
}

.container2{
    background-color: red;
    width: 100%;
    height: 1300px;
    display: inline-block;
    position: relative;
}

.sticky{
    position: sticky;
    top: 0;
    background-color: yellow;
    display: inline-block;
    width: 150px;
    height: 150px;
}

.container3{
    background-color: black;
    width: 100%;
    height: 500px;
    display: inline-block;
    position: relative;
}

.container4{
    width: 400px;
    height: 400px;
    background: url('../img/cidade.jpg');
    background-size: cover;
    opacity: 0.5;
    position: relative;
    /* a opacidade vai de 0 a 1 */
}

.centro{
    position: absolute;
    top: 50%;
    background-color: red;
    width: 100%;
    text-align: center;
}