/* .borda{
    border: solid red 2px;
} */

.container{
    background-color: red;
    width: 100%;
    height: 400px;
    display: inline-block;

}

.div1{
    position: relative;
    left: 100px;
    top: 50px;
    width: 30%;
    height: 100px;
    background-color: blueviolet;
    display: inline-block;
}

.div2{
    position: relative;
    width: 30%;
    height: 100px;
    background-color: yellow;
    display: inline-block;
    z-index: 2;
}

.div3{
    position: relative;
    top: 350px;
    width: 30%;
    height: 100px;
    background-color: cyan;
    display: inline-block;
}

.whats{
    position: fixed;
    width: 80px;
    height: 80px;
    background-color: green;
    bottom: 0;
    right: 0;
}